
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.deps.json
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.dll
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.exe
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.pdb
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.runtimeconfig.dev.json
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/Aula02Test.runtimeconfig.json
Semestre_3_2022/OOP/Aula02Test/bin/Debug/net5.0/ref/Aula02Test.dll
Semestre_3_2022/OOP/Aula02Test/obj/Aula02Test.csproj.nuget.dgspec.json
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/apphost.exe
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.csproj.AssemblyReference.cache
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.csproj.CoreCompileInputs.cache
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.csproj.FileListAbsolute.txt
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.dll
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.GeneratedMSBuildEditorConfig.editorconfig
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.genruntimeconfig.cache
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.pdb
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/ref/Aula02Test.dll
Semestre_3_2022/OOP/Aula02Test/obj/project.assets.json
Semestre_3_2022/OOP/Aula02Test/obj/project.nuget.cache
Semestre_3_2022/OOP/Aula02Test/obj/Aula02Test.csproj.nuget.dgspec.json
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.csproj.AssemblyReference.cache
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.GeneratedMSBuildEditorConfig.editorconfig
Semestre_3_2022/OOP/Aula02Test/obj/project.assets.json
Semestre_3_2022/OOP/Aula02Test/obj/project.nuget.cache
.vscode/launch.json
Semestre_3_2022/OOP/Aula02Test/obj/Aula02Test.csproj.nuget.g.props
Semestre_3_2022/OOP/Aula02Test/obj/Aula02Test.csproj.nuget.g.targets
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.AssemblyInfo.cs
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.AssemblyInfoInputs.cache
Semestre_3_2022/OOP/Aula02Test/obj/Debug/net5.0/Aula02Test.assets.cache
Semestre_3_2022/OOP/Aula02Exercises/Ex01/bin
Semestre_3_2022/OOP/Aula02Exercises/Ex01/obj/Debug
Semestre_3_2022/OOP/Aula02Exercises/Ex01/obj
Semestre_3_2022/OOP/Aula02Exercises/Ex01/.vscode
