.Container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 20px;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.alignStart {
	align-items: start;
}
