.Container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 20px;
}

.ContainerWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 20px;
}
