.Header {
	text-align: center;
	background-color: #282c34;
	min-height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.Header div {
	flex-grow: 1;
}
